@import '../../global.scss';

.sidebar {
	height: 100vh;
	transition: 0.3s all;
	position: fixed;
	top: 0;
	left: 0;

	&[data-sidebar-toggle="open"] {
		width: 30rem;
	}
	&[data-sidebar-toggle="close"] {
		width: 4rem;
		overflow: hidden;
		.sidebar__collapse {
			transform: scaleX(1.2) rotate(180deg);
			transform-origin: center;
		}
		.sidebar__list {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__collapse {
		background: transparent;
		border: none;
		font-size: 2.4rem;
		transform: scaleX(1.2);
		color: rgb(140, 140, 140);
		margin-left: auto;
    display: block;
		padding: .5rem 1.2rem;
		cursor: pointer;
		transition: 0.3s all;
	}
	&__list {
		@include displayFlex(center, center, column);
		padding: 0;
		transition: 0.3s all;
		list-style: none;
		color: rgb(158, 161, 162);
		font-size: 1.6rem;
		line-height: 2;
		cursor: pointer;
		& li {
			position: relative;
			width: 65%;
			& a {
				transition: 0.3s all;
				&:hover {
					color: rgb(217, 219, 219);
					text-decoration: underline;
				}
			}
			&[data-sublist-toggle="open"] {
				& .sidebar__sublist {
					max-height: 100rem;
				}
				& .sidebar__list--arrow {
					transform: translate(-50%) rotate(90deg);
				}
			}
		}
		&--arrow  {
			content: '';
			position: absolute;
			top: 1.5rem;
			left: -2rem;
			width: 0;
			height: 0;
			border-top: 0.4rem solid transparent;
			border-bottom: 0.4rem solid transparent;
			border-left: 0.8rem solid rgb(158, 161, 162);
			transform: translateY(-50%);
		}
	}
	&__sublist {
		list-style: none;
		padding-left: 2rem;
		line-height: 2;
		max-height: 0;
		overflow: hidden;
		transition: 0.3s all;
	}
}
