@import './global.scss';

.app {
	width: 100vw;
	height: 100vh;
	@include displayFlex(flex-start, center);

	&[data-sidebar-toggle="open"] .app__body {
		margin-left: 30rem;
	}
	&[data-sidebar-toggle="close"] .app__body {
		margin-left: 4rem;
	}
	&__body {
		transition: 0.3s all;
		width: 100%;
		height: 100vh;
	}
}