@import '../../global.scss';

.portfolio {
	padding: 2rem;
	&__submenu {
		max-height: 0;
		overflow: hidden;
		transition: 0.3s all;
		padding: 0 3.5rem;
		height: 100%;
		&.active {
			// overflow: auto;
			max-height: 10000rem;
		}
	}
	&__intro {
		margin: 5rem auto 3rem;
		text-align: center;
	}
	&__status {
		padding: 0.5rem 1rem;
		color: #000;
		border-radius: 3px;
		margin-bottom: 1rem;
		@include displayFlex(flex-start, center);
		& span {
			@include displayFlex(center, center);
			line-height: 1;
			border: 1px solid #000;
			border-radius: 50px;
			width: 1rem;
			height: 1rem;
			margin-right: 1rem;
			font-size: 12px;
			cursor: pointer;
		}
		&.success {
			background: #edb8b8;
		}
		&.error {
			background: #edb8b8;
		}
	}
	&__header {
		@include displayFlex(flex-start, center);
		margin: 0 -0.5rem 1.5rem;
		visibility: hidden;
		opacity: 0;
		&.show {
			visibility: visible;
			opacity: 1;
		}
		& svg {
			width: 0.5rem;
			margin-right: 1rem;
			transition: 0.3s all;
			& g {
				fill: $secondary-grey;
			}
		}
		&--title {
			cursor: pointer;
			@include displayFlex(flex-start, center);
			& h2 {
				position: relative;
				&:before {
					content: '';
					transition: 0.3s all;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 0.1px;
					border-bottom: 3px solid $secondary-grey;
				}
			}
			&:hover {
				& h2:before {
					width: 100%;
				}
			}
			& span {
				margin-left: 1rem;
				margin-bottom: 0.4rem;
				align-self: flex-end;
			}
			&.active {
				& h2:before {
					width: 100%;
				}
				& svg {
					transform: rotate(90deg);
				}
			}
		}
	}
	&__info {
		margin-bottom: 1.5rem;
		& p a {
			color: $secondary-grey;
		}
		&--link p {
			transition: 0.3s all;
			position: relative;
			display: inline-block;
			text-decoration: underline;
			&:before {
				// content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 0.1px;
				border-bottom: 1px solid transparent;
				transition: 0.3s all;
				visibility: hidden;
			}
			&:after {
				visibility: hidden;
				content: '\003E\003E';
				position: absolute;
				top: 50%;
				right: -2.3rem;
				color: transparent;
				font-size: 1.1rem;
				transform: translateY(-50%);
				transition: 0.3s all;
			}
			&:hover {
				&:before {
					border-bottom: 1px solid $secondary-grey;
					visibility: visible;
				}
				&:after {
					visibility: visible;
					color: $secondary-grey;
				}
			}
		}
	}
	&__image {
		width: 50%;
		border-radius: 0.5rem;
	}
	&__circle {
		padding: 0.8rem;
		margin-right: 0.5rem;
		cursor: pointer;
		& span {
			width: 0.8rem;
			height: 0.8rem;
			border-radius: 50%;
			background-color: transparent;
			border: 1px solid $secondary-grey;
			transition: 0.3s all;
			display: block;
			position: relative;
			&.pulsing:before {
				content: '';
				border: 1px solid $secondary-grey;
				border-radius: 30px;
				width: 1.2rem;
				height: 1.2rem;
				position: absolute;
				left: -35%;
				top: -37%;
				animation: pulsate 4s ease-out;
				animation-iteration-count: infinite; 
				opacity: 0.0;
			}
		}
		&.active {
			cursor: default;
			& span {
				background-color: $secondary-grey;
			}
		}
		&:hover {
			& span {
				background-color: $secondary-grey;
			}
		}
	}
	&__tabs {
		@include displayFlex(flex-start, center);
		gap: 1rem;
	}
	&__tab {
		font-weight: bold;
		position: relative;
		&:after {
			@include horizontalLine(bottom, 0, left, 0, 0%, 2px, $secondary-grey);
		}
		cursor: pointer;
		transition: 0.3s all;
		padding: 1rem;
		// &:first-child {
		// 	padding-left: 0;
		// }
		// &:last-child {
		// 	padding-right: 0;
		// }
		&.active {
			&:after {
				width: 100%;
			}
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
	&__content {
		&[data-tab="Summary"] {
			margin: 0 0 3rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			text-align: center;
			gap: 4rem 7rem;
			& p {
				margin: 0 auto;
			}
		}
		&[data-tab="Details"] {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			margin: 3rem 0;
			& p {
				margin: 0;
				width: 70%;
			}
			& .flex a {
				margin-right: 3rem;
			}
		}
	}
	&__icons {
		@include displayFlex(flex-start, center);
		width: auto;
		gap: 2rem;
		margin: 3rem 0;
	}
	&__icon {
		position: relative;
		&--link {
			& svg {
				width: 3.5rem;
				& path {
					fill: $secondary-grey;
				}
			}
		}
		& svg {
			width: 6rem;
		}
		& path, & rect {
			fill: $secondary-grey;
		}
		& img {
			display: block;
			width: 6rem;
			margin: 1rem;
		}
		& p {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			bottom: 0;
			left: 0;
			transition: 0.3s opacity ease-in;
			margin: 0;
			@include displayFlex(center, center);
			width: 100%;
			height: 100%;
			color: $primary-dark-grey;
			background: rgba(255,255,255,0.7);
			border-radius: 5px;
		}
		&:hover p {
			visibility: visible;
			opacity: 1;
		}
		&--animation {
			height: 10rem;
			position: relative;
			@include displayFlex(center, center);
		}
	}
	& h2, h3, h4, .text-base {
		line-height: 1.3;
		letter-spacing: 1.2px;
	}
	& h2, h3 {
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	& h3 {
		position: relative;
		margin-bottom: 0.4rem;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -1.6rem;
			background: $secondary-grey;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 5px;
			transform: translateY(-50%);
		}
	}
	& h4 {
		margin: 1rem 0 0.5rem;
	}
	// & h2 {
	// 	transition: 0.3s all;
	// 	&:hover {
	// 		text-decoration: underline;
	// 	}
	// }
}
@keyframes pulsate {
	0% {transform: scale(0.5, 0.5); opacity: 0.0;}
	40% {opacity: 0.8;}
	80% {transform: scale(1.3, 1.3); opacity: 0.0;}
	100% {transform: scale(1.6, 1.6); opacity: 0.0;}
}
@media screen and (max-width: 1280px) {
	.portfolio {
		&__content[data-tab="Summary"] {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem 4rem;
		}
	}
}
@media screen and (max-width: 780px) {
	.portfolio {
		padding: 2rem 1rem;
		&__submenu {
			padding: 0 1rem;
		}
		&__header {
			margin: 0 0 1rem;
		}
		& #duration {
			margin-left: 3rem;
		}
	}
}
@media screen and (max-width: 500px) {
	.portfolio {
		padding: 0 1rem;
		&__content[data-tab="Summary"] {
			grid-template-columns: repeat(1, 1fr);
			gap: 2rem 2rem;
			text-align: left;
		}
		&__content[data-tab="Details"] {
			gap: 2rem;
			margin: 2rem 0;
			& p {
				width: 100%;
			}
		}
		&__submenu {
			padding: 0 1rem;
		}
		&__icons {
			flex-wrap: wrap;
		}
		& #duration {
			margin-left: 1rem;
		}
	}
}