@import '../../global.scss';

.navigation {
	padding: 0 2rem;
	margin: 1rem 0;
	@include displayFlex(flex-start, center);
	margin-left: -0.5rem;
	&__link {
		color: $light-grey;
		letter-spacing: 1.1px;
		text-decoration: none;
		font-style: italic;
		transition: 0.3s all;
		padding: 0.5rem;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	& svg {
		height: 0.7rem;
		margin: 0 0.8rem;
		& g {
			fill: $light-grey;
		}
	}
}