@import '../../global.scss';

.timeline {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	// text-align: center;
	gap: 0 5rem;
	padding: 3rem 0;
	&__icon {
		margin: 0 auto;
		grid-row: 1 / 2;
		opacity: 0;
		visibility: hidden;
		width: 80%;
		& p {
			margin: 2rem 0 0;
		}
	}
	&__info {
		opacity: 0;
		visibility: hidden;
		margin: 0 auto;
		grid-row: 3 / 4;
		position: relative;
		width: 80%;
		&:before {
			content: '';
			position: absolute;
			left: 5px;
			top: -4rem;
			transform: translateX(-50%);
			width: 1.5rem;
			height: 1.5rem;
			background: $secondary-grey;
			border-radius: 50%;
		}
		& p {
			margin: 0 auto 2rem;
		}
	}
	& svg {
		height: 6rem;
		stroke: $secondary-grey;
		fill: transparent;
	}
	&__line {
		margin: 3rem 0;
		grid-row: 2 / 3;
		grid-column: 1 / 4;
		max-width: 0;
		width: 100%;
		height: 0.6rem;
		background-color: $secondary-grey;
		transition: 1s all;
		border-radius: 5px;
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border-radius: inherit;
			background-color: inherit;
			height: 2rem;
			width: 0.6rem;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.animate .timeline__line {
		max-width: 100%;
	}
	&.animate div[data-index="1"] {
		animation: fadeIn 0.5s ease forwards;
	}
	@for $i from 1 through 2 {
		&.animate div[data-index="#{$i + 1}"] {
			animation: fadeIn 0.5s $i * 0.3s ease forwards;
		}
	}
}
@media screen and (max-width: 780px) {
	.timeline {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(6, auto);
		gap: 1rem 0;
		&__icon, &__info {
			width: 90%;
		}
		&__icon {
			grid-column: 2/3;
			grid-row: auto;
		}
		&__info {
			grid-column: 2/3;
			grid-row: auto;
			&:before {
				left: -28px;
				top: 0;
			}
		}
		&__line {
			grid-column: 1/2;
			grid-row: 1/7;
			height: 100%;
			width: 0.6rem;
			margin: 0 1rem;
			max-width: auto;
			max-height: 0;
			&:before, &:after {
				width: 2rem;
				height: 0.6rem;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			&:after {
				top: auto;
				bottom: 0;
			}
		}
		&.animate .timeline__line {
			max-width: auto;
			max-height: 100%;
		}
	}
}