@import '../../global.scss';

$sidebarWidth: 30rem;

.sidebar {
	height: 100vh;
	width: $sidebarWidth;
	transition: 0.3s all;
	position: fixed;
	top: 0;
	left: 0;
	&__overlay {
		display: none;
	}
	&[data-sidebar-toggle="open"] {
		transform: translateX(0);
	}
	&[data-sidebar-toggle="close"] {
		transform: translateX(-26rem);
		overflow: hidden;
		.sidebar__collapse {
			transform: scaleX(1.2) rotate(180deg);
		}
		.sidebar__list {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__header {
		color: $secondary-grey;
		margin: 0 0 1.5rem 4rem;
		letter-spacing: 1.2px;
	}
	&__container {
		position: relative;
		padding: 2rem 0;
	}
	&__collapse {
		padding: 0;
    height: 30px;
    width: 4rem;
    @include displayFlex(center, center);
		background: transparent;
		border: none;
		font-size: 2.4rem;
		transform: scaleX(1.2);
		color: $primary-grey;
		margin-left: auto;
		cursor: pointer;
		transition: 0.3s all;
		transform-origin: center;
		position: absolute;
		top: 1.5rem;
		right: 0;
		& svg {
			height: 1.2rem;
			&	g {
				fill: $primary-grey;
			}
		}
	}
	&__list {
		@include displayFlex(center, center, column);
		padding: 0;
		transition: 0.3s all;
		list-style: none;
		color: rgb(158, 161, 162);
		font-size: 1.6rem;
		line-height: 2;
		margin: 0;
		padding: 0 4rem;
		& li {
			cursor: pointer;
			position: relative;
			width: 100%;
			& span:hover {
				text-decoration: underline;
			}
			&--header {
				@include displayFlex(flex-start, center);
			}
			&.active path {
				fill: $primary-grey;
			}
			& svg {
				width: 2rem;
				margin-right: 1rem;
				transition: 0.3s all;
				transform: translateY(3px);
				& path {
					transition: 0.3s all;
					stroke: $primary-grey;
				}
			}
			& a {
				transition: 0.3s all;
				color: $primary-grey;
				text-decoration: none;
				&:hover {
					color: $secondary-grey;
					// text-decoration: underline;
				}
			}
			&[data-sublist-toggle="open"] {
				& .sidebar__sublist {
					max-height: 100rem;
				}
				& svg {
					transform: rotate(90deg);
				}
			}
		}
		&--arrow  {
			content: '';
			position: absolute;
			top: 1.5rem;
			left: -2rem;
			width: 0;
			height: 0;
			border-top: 0.4rem solid transparent;
			border-bottom: 0.4rem solid transparent;
			border-left: 0.8rem solid rgb(158, 161, 162);
			transform: translateY(-50%);
		}
	}
	&__sublist {
		list-style: none;
		padding: 0;
		position: relative;
		&:before {
			@include verticalLine(top, 0, left, 10px, 1px, calc(100% - 25px), $primary-grey);
		}
		& li {
			cursor: pointer;
			padding-left: 3rem;
			position: relative;
			line-height: 2;
			&.active path {
				fill: $primary-grey !important;
			}
			& path {
				fill: transparent !important;
			}
			&:before {
				position: absolute;
				content: '';
				top: -0.8rem;
				left: 1rem;
				clip-path: polygon(0 50%, 0% 100%, 50% 100%);
				border: 1px solid $primary-grey;
				border-radius: 5px;
				width: 2.5rem;
				height: 2rem;
			}
		}
	}
}
@media screen and (max-width: 780px) {
	.sidebar {
    z-index: 10;
		&[data-sidebar-toggle="open"] {
			width: 80%;
		}
		&__overlay.active {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(0,0,0,0.5);
		}
	}
}