@import '../../global.scss';

$sidebarWidth: 30rem;

.sidebar {
	height: 100vh;
	width: $sidebarWidth;
	transition: 0.3s all;
	position: fixed;
	top: 0;
	left: 0;

	&[data-sidebar-toggle="open"] {
		transform: translateX(0);
	}
	&[data-sidebar-toggle="close"] {
		transform: translateX(-26rem);
		overflow: hidden;
		.sidebar__collapse {
			transform: scaleX(1.2) rotate(180deg);
		}
		.sidebar__list {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__header {
		color: $secondary-grey;
		margin: 0 0 1.5rem 2rem;
		letter-spacing: 1.2px;
	}
	&__container {
		position: relative;
		padding: 2rem 0;
	}
	&__collapse {
		padding: 0;
    height: 30px;
    width: 4rem;
    @include displayFlex(center, center);
		background: transparent;
		border: none;
		font-size: 2.4rem;
		transform: scaleX(1.2);
		color: $primary-grey;
		margin-left: auto;
		cursor: pointer;
		transition: 0.3s all;
		transform-origin: center;
		position: absolute;
		top: 1.5rem;
		right: 0;
		& svg {
			height: 1.2rem;
			&	g {
				fill: $primary-grey;
			}
		}
	}
	&__list {
		@include displayFlex(center, center, column);
		padding: 0;
		transition: 0.3s all;
		list-style: none;
		color: rgb(158, 161, 162);
		font-size: 1.6rem;
		line-height: 2;
		margin: 0;
		cursor: pointer;
		padding: 0 4rem;
		& li {
			position: relative;
			width: 100%;
			&--header {
				@include displayFlex(flex-start, center);
			}
			& svg {
				height: 10px;
				margin-right: 1.5rem;
				transition: 0.3s all;
				& g {
					fill: $primary-grey;
				}
			}
			& a {
				transition: 0.3s all;
				color: $primary-grey;
				text-decoration: none;
				&:hover {
					color: $secondary-grey;
					text-decoration: underline;
				}
			}
			&[data-sublist-toggle="open"] {
				& .sidebar__sublist {
					max-height: 100rem;
				}
				& svg {
					transform: rotate(90deg);
				}
			}
		}
		&--arrow  {
			content: '';
			position: absolute;
			top: 1.5rem;
			left: -2rem;
			width: 0;
			height: 0;
			border-top: 0.4rem solid transparent;
			border-bottom: 0.4rem solid transparent;
			border-left: 0.8rem solid rgb(158, 161, 162);
			transform: translateY(-50%);
		}
	}
	&__sublist {
		list-style: none;
		padding-left: 2rem;
		line-height: 2;
		max-height: 0;
		overflow: hidden;
		transition: 0.3s all;
		& li {
			transition: 0.3s all;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
