@import '../../global.scss';

.experience {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem 1rem;
	margin: 3rem 0;
	&__container {
		@include displayFlex(flex-start, flex-start);
		grid-gap: 3rem;
	}
	&__icon {
		width: 6rem;
	}
	& p {
		margin: 0;
		&.overlay {
			position: absolute;
			bottom: 5%;
			left: 1.2rem;
			color: $secondary-grey;
			// transition: 0.3s all linear;
			transition-delay: 0.3s;
			&.remove {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	& .w-full {
		@include displayFlex(space-between, flex-start, column);
		height: 100%;
		position: relative;
	}
	&__bar {
		@include displayFlex(flex-start, center);
		// padding: 0.5rem 1rem;
		background: $secondary-grey;
		color: $primary-dark-grey;
		max-width: 50rem;
		transition: 1s all linear;
		transition-delay: 0.2s;
		position: relative;
		overflow: hidden;
		border-radius: 2px;
		& p {
			white-space: nowrap;
			margin: 0.3rem 1.2rem;
			position: relative;
			z-index: 1;
		}
		&.still {
			max-width: 0 !important;
		}
	}
}
@media screen and (max-width: 780px) {
	.experience {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 500px) {
	.experience {
		grid-template-columns: repeat(1, 1fr);
	}
}