@import './global.scss';

.app {
	@include displayFlex(flex-start, center);
	position: relative;
	&[data-sidebar-toggle="open"] .app__body {
		width: calc(100vw - 30rem);
	}
	&[data-sidebar-toggle="close"] .app__body {
		width: calc(100vw - 4rem);
	}
	&__body {
		margin-left: auto;
		transition: 0.3s all;
		width: 100%;
		min-height: 100vh;
	}
}
@media screen and (max-width: 780px) {
	.app {
		background-color: $sidebar-grey;
		&__body {
			width: calc(100% - 4rem);
		}
		&[data-sidebar-toggle="open"] {
			& .app__body {
				margin-left: 4rem;
				overflow: hidden;
				pointer-events: none;
			}
		}
		&[data-sidebar-toggle="open"] .app__body {
			width: calc(100vw - 4rem);
		}
	}
}