body, html {
	font-size: 10px;
	// font-family: 'Lucida Console, Regular';
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
	opacity: 0;
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-90 {
	transform: rotate(90deg);
}
.-rotate-90 {
	transform: rotate(-90deg);
}

// font sizes
.text-xs {
	font-size: 12px;
}
.text-sm {
	font-size: 14px;
}
.text-base {
	font-size: 16px;
}
.text-lg {
	font-size: 18px;
}
.text-xl {
	font-size: 20px;
}

// variables
$primary-grey: rgb(140, 140, 140);
$secondary-grey: rgb(217, 219, 219);
$light-grey: rgb(241, 241, 241);

// app dark theme
.app[data-app-theme="Dark"] {
	& .sidebar, .navigation__select--toggle {
		background: rgb(53, 60, 63);
	}
	& .navigation__select--toggle, .navigation__select--option,
	.portfolio {
		color: $secondary-grey;
	}
	& .navigation__select--option {
		background: rgb(42, 49, 53);
		&:hover {
			background: rgb(53, 60, 63);
		}
	}
	& .app__body {
		background: rgb(42, 49, 53);
	}
}
// app light theme
.app[data-app-theme="Light"] {
	& .sidebar, .navigation__select--toggle {
		background: rgb(242, 244, 245);
	}
	& .navigation__select--toggle, .navigation__select--option,
	.portfolio {
		color: rgb(53, 60, 63);
	}
	& .navigation__select--option {
		background: rgb(255, 255, 255);
		&:hover {
			background: rgb(242, 244, 245);
		}
	}
	& .sidebar {
		box-shadow:inset -4px 0 10px -4px rgb(171, 171, 171);
	}
	& .app__body {
		background: rgb(255, 255, 255);
	}
}
// app kevin theme
.app[data-app-theme="Kevin"] {
	& .sidebar, .navigation__select--toggle {
		background: rgb(5, 43, 74);
	}
	& .navigation__select--toggle, .navigation__select--option,
	.portfolio {
		color: rgb(53, 60, 63);
	}
	& .navigation__select--option {
		background: rgb(36, 15, 4);
		&:hover {
			background: rgb(5, 43, 74);
		}
	}
	& .app__body {
		background: rgb(36, 15, 4);
	}
}

// mixins
@mixin displayFlex($justify-content, $align-items, $flex-direction: row) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

// animations
.fade-in {
	animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
	from {
		visibility: hidden;
		opacity: 0;
		transform: scale(0.9);
	} 
	to {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
}