body, html {
	font-size: 10px;
	// font-family: 'Lucida Console, Regular';
}

// variables
$primary-grey: rgb(140, 140, 140);
$secondary-grey: rgb(217, 219, 219);
$light-grey: rgb(241, 241, 241);
$sidebar-grey: rgb(53, 60, 63);
$secondary-light-grey: rgb(173 173 173);
$primary-dark-grey: rgb(42, 49, 53);
$primary-family: 'Monsterrat';

// mixins
@mixin displayFlex($justify-content, $align-items, $flex-direction: row) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}
@mixin horizontalLine($y, $y-pos, $x, $x-pos, $width, $height, $color, $y-center: 'false', $x-center: 'false') {
	content: '';
	position: absolute;
	#{$y}: $y-pos;
	#{$x}: $x-pos;
	width: $width;
	height: 0.1px;
	border-bottom: $height solid $color;
	transition: 0.3s all;
	@if $y-center != 'false' {
		transform: translateY(-50%);
	}
	@if $x-center != 'false' {
		transform: translateX(-50%);
	}
}
@mixin verticalLine($y, $y-pos, $x, $x-pos, $width, $height, $color, $y-center: 'false', $x-center: 'false') {
	content: '';
	position: absolute;
	#{$y}: $y-pos;
	#{$x}: $x-pos;
	height: $height;
	width: 0.1px;
	border-left: $width solid $color;
	transition: 0.3s all;
	@if $y-center != 'false' {
		transform: translateY(-50%);
	}
	@if $x-center != 'false' {
		transform: translateX(-50%);
	}
}
@mixin primaryButton() {
	background: transparent;
	border: 1px solid $secondary-grey;
	border-radius: 3px;
	padding: 0.6rem 1rem;
	color: $secondary-grey;
	transition: 0.3s all;
	font-family: $primary-family;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	&:hover {
		background: $secondary-grey;
		color: $primary-dark-grey;
	}
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
	opacity: 0;
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-90 {
	transform: rotate(90deg);
}
.-rotate-90 {
	transform: rotate(-90deg);
}
.m0 {
	margin: 0;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}

// font sizes
.text-xs {
	font-size: 12px;
}
.text-sm {
	font-size: 14px;
}
.text-base {
	font-size: 16px;
}
.text-lg {
	font-size: 18px;
}
.text-xl {
	font-size: 24px;
}
.text-2xl {
	font-size: 32px;
}
@media screen and (max-width: 500px) {
	.text-xs {
		font-size: 10px;
	}
	.text-sm {
		font-size: 12px;
	}
	.text-base {
		font-size: 14px;
	}
	.text-lg {
		font-size: 16px;
	}
	.text-xl {
		font-size: 20px;
	}
	.text-2xl {
		font-size: 24px;
	}
}

// layout
.w-full {
	width: 100%;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}

.relative {
	position: relative;
}
.bold {
	font-weight: bold;
}
.text-center {
	text-align: center;
}
.tu {
	text-transform: uppercase;
}

.primary-button {
	@include primaryButton();
}

// app dark theme
.app[data-app-theme="Dark"] {
	background: $sidebar-grey;
	& .sidebar, .settings__select--toggle {
		background: $sidebar-grey;
	}
	& .settings button, .settings span, .portfolio, .navigation span {
		color: $secondary-grey;
	}
	& .settings__select--option {
		background: $primary-dark-grey;
		&:hover {
			background: $sidebar-grey;
		}
	}
	& .app__body {
		background: $primary-dark-grey;
	}
	& #email-color {
		fill: $primary-dark-grey;
	}
}
// app light theme
.app[data-app-theme="Light"] {
	background: rgb(255, 255, 255);
	& .sidebar, .settings__select--toggle {
		background: rgb(242, 244, 245);
	}
	& .settings button, .portfolio, a, .navigation span, h1  {
		color: $sidebar-grey;
	}
	& .settings__select--option {
		background: rgb(255, 255, 255);
		&:hover {
			background: rgb(242, 244, 245);
		}
	}
	& .sidebar {
		box-shadow:inset -4px 0 10px -4px rgb(171, 171, 171);
	}
	& .app__body, .folder:after, .old-new, .about__banner, .settings__toggle--slider:after, input, textarea {
		background: rgb(255, 255, 255);
	}
	& .portfolio__circle span,
	.portfolio__circle span:before, 
	.settings button,
	.portfolio__header--title h2:before,
	.clock, .profile__card, input, textarea, .contact__form button, .primary-button {
		border-color: $primary-dark-grey;
	}
	& .sidebar__list, input::placeholder, textarea::placeholder, .contact__form button, .primary-button {
		color: $primary-dark-grey;
	}
	& .portfolio__header svg g, .settings__select--toggle svg g, .bell path, .plug-and-play path, .navigation svg g, .sidebar__collapse svg g {
		fill: $primary-dark-grey;
	}
	& h3:before, & .portfolio__circle.active span, .portfolio__circle:hover span, .clock__hours, .clock__minutes, .folder, .settings__toggle--slider, .contact__info, .contact__form button:hover, .primary-button:hover {
		background: $primary-dark-grey;
	}
	& .gears circle, .gears path, .sidebar__list li.active path, .timeline svg {
		stroke: $primary-dark-grey;
	}
	& .profile__card--front img {
		filter: invert(0);
	}
	& .experience__bar, .timeline__line, .timeline__info:before {
		background: $secondary-light-grey;
	}
	& .experience p.overlay {
		color: $secondary-light-grey;
	}
	& .sidebar__list li.active path, .portfolio__icon path, .portfolio__icon rect, .portfolio__icon--link svg path {
		fill: $primary-dark-grey;
	}
	& .sidebar__sublist li.active path {
		fill: $primary-dark-grey !important;
	}
	& .contact__info#phone .contact__icon path, .contact__info#linkedin g#linkedin-color, #email-color, .contact__copy svg path {
		fill: #fff;
	}
	& .contact__open a, .contact__open p, .contact__form button:hover, .primary-button:hover {
		color: #fff;
	}
	& .gears svg path {
		fill: transparent;
	}
}
// app kevin theme
$primary-blue: #154d84;
.app[data-app-theme="Kevin"] {
	background: #b69b75;
	& .settings__select--toggle {
		background: #c7a97f;
	}
	& .sidebar {
		background: $primary-blue;
		& a {
			color: #fff;
		}
		& svg g {
			fill: #fff;
		}
	}
	& .settings button, .portfolio, .portfolio a, .navigation span, input::placeholder, textarea::placeholder {
		color: #000;
	}
	& .settings__select--option:hover {
		background: #c7a97f;
	}
	& .app__body, .settings__select--option, .folder:after, .old-new, .about__banner, .settings__toggle--slider:after, .folder__container, input, textarea {
		background: #b69b75;
	}
	& .contact__info#phone .contact__icon path, .contact__info#linkedin g#linkedin-color, #email-color, .contact__copy svg path {
		fill: #b69b75;
	}
	& .portfolio__circle span,
	.portfolio__circle span:before, 
	.settings button, input, textarea {
		border-color: #000;
	}
	& .profile__card--front {
		box-shadow: 0 0 1rem 3px $primary-dark-grey;
	}
	& .portfolio__header svg g, .settings__select--toggle svg g, .navigation svg g {
		fill: #000;
	}
	& h3:before, & .portfolio__circle.active span, .portfolio__circle:hover span {
		background: #000;
	}
	& .profile__card, .clock, .portfolio__header--title h2:before, 
	.contact__form button, .primary-button {
		border-color: $primary-blue;
	}
	& .experience__bar, .timeline__line, .timeline__info:before, .clock__hours, .clock__minutes, .folder, .settings__toggle--slider, .contact__info, .primary-button:hover {
		background: $primary-blue;
	}
	& .experience p.overlay, .old-new-container, h2, .contact__form button, .primary-button, .portfolio__icon polygon {
		color: $primary-blue;
	}
	& .contact__form button:hover, .primary-button:hover, .contact__open a, .contact__open p {
		color: #b69b75;
	}
	& .gears circle, .gears path, .timeline svg {
		stroke: $primary-blue;
	}
	& .bell path, .plug-and-play path, .portfolio__icon--link svg path, .portfolio__icon path, .portfolio__icon rect {
		fill: $primary-blue;
	}
	& .gears svg path {
		fill: transparent;
	}
	& .experience__bar p, & .sidebar__list, & .sidebar__header {
		color: #fff;
	}
	& .sidebar__list li.active path {
		stroke: #fff;
	}
	& .sidebar__list li.active path {
		fill: #fff;
	}
	& , .sidebar__sublist li.active path {
		fill: #fff !important;
	}
	& .sidebar__sublist:before, .sidebar__sublist li:before {
		border-color: #fff;
	}
}

// animations
.fade-in {
	animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
	from {
		visibility: hidden;
		opacity: 0;
		transform: scale(0.9);
	} 
	to {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
}
.portfolio__submenu.active .portfolio__header {
	visibility: hidden;
		opacity: 0;
}
@for $i from 1 through 20 {
	.slide-in:nth-of-type(#{$i}),
	.portfolio__submenu.active .portfolio__header:nth-of-type(#{$i}) {
		animation: slideIn 0.4s forwards;
		animation-delay: $i * 0.1s
	}
}
@keyframes slideIn {
	from {
		visibility: hidden;
		opacity: 0;
		transform: translateX(5rem);
	} 
	to {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
}