@font-face {
	font-family: 'Type Machine';
	src: url('./fonts/type-machine.ttf');
}
@font-face {
	font-family: 'Lucida';
	src: url('./fonts/lucida.ttf');
}
@font-face {
	font-family: 'Consolas';
	src: url('./fonts/consolas.ttf');
}
@font-face {
	font-family: 'Monsterrat';
	src: url('./fonts/monsterrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Monsterrat';
	src: url('./fonts/monsterrat/Montserrat-Bold.ttf');
	font-weight: bold;
}

body, html {
	height: 100vh;
	width: 100vw;
  margin: 0;
  font-family: 'Monsterrat';
}
