@import '../../global.scss';

.settings {
	@include displayFlex(flex-start, center);
	padding: 2rem 1.8rem;
	gap: 1rem;
	position: absolute;
	right: 0;
	top: 0;

	&__select {
		position: relative;
		&[data-select-toggle="open"] 
		.settings__select--list {
			max-height: 100rem;
		}
		&[data-select-toggle="open"] 
		.settings__select--toggle svg {
			transform: rotate(-90deg);
		}
		&--toggle {
			position: relative;
			width: 7rem;
			padding: 0.8rem 1.2rem;
			border-radius: 0.3rem;
			border: 1px solid $secondary-grey;
			cursor: pointer;
			@include displayFlex(space-between, center);
			& svg {
				width: 5px;
				transform-origin: center;
				transition: 0.3s all;
				& g {
					fill: $secondary-grey;
				}
			}
		}
		&--list {
			position: absolute;
			overflow: hidden;
			margin: 0;
			max-height: 0;
			transition: 0.3s all;
			list-style: none;
			padding: 0;
			transition: 0.3s all;
		}
		&--option {
			font-size: 1.4rem;
			padding: 0.8rem 0;
			text-align: center;
			border: 1px solid $secondary-grey;
			border-bottom: none;
			width: 7rem;
			transition: 0.3s all;
			z-index: 1000;
			position: relative;
			cursor: pointer;
			&:first-child {
				border-top-left-radius: 0.3rem;
				border-top-right-radius: 0.3rem;
			}
			&:last-child {
				border: 1px solid $secondary-grey;
				border-bottom-left-radius: 0.3rem;
				border-bottom-right-radius: 0.3rem;
			}
			&:hover {
				background: rgb(53, 60, 63);
			}
		}
	}

	&__toggle {
		@include displayFlex(center, center);
		cursor: pointer;
		&--slider {
			width: 3.5rem;
			height: 2rem;
			border-radius: 50px;
			display: block;
			background: $secondary-grey;
			position: relative;
			cursor: pointer;
			&:after {
				content: '';
				position: absolute;
				border-radius: 5rem;
				width: 1.7rem;
				height: 1.7rem;
				background: $primary-dark-grey;
				top: 50%;
				right: 0.2rem;
				transform: translateY(-50%);
				transition: 0.3s all;
			}
			&.clicked:after {
				right: calc(50% - 0.2rem);
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.settings {
		padding: 1rem;
		position: relative;
	}
}